header.header
  if user
    .chatHeader
      .leftHeader

        .dropDownMenuList
          button.dropBtn
            i.fa-solid.fa-bars

          .dropDownItems
            .menuItem.toggleBackground
              .menuItemName.toggleBackground Light Mode
              i.fa-regular.fa-sun
              i.fa-solid.fa-moon

            .menuItem.settings 
              .menuItemName Settings
              i.fa-solid.fa-gear

            .menuItem.logout 
              .menuItemName Logout
              i.fa-solid.fa-arrow-right-from-bracket


          .configurationsMenu
            .headerInfo-settings
              button.settingsBtn
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Settings
              button.settingsBtn.edit-user-info
                i.fa-regular.fa-pen-to-square

            .userInfo-settings
              img.user-img-settings(src=`/images/user/${user.photo}`, alt=`Photo of ${user.name}`)
              .listUserItems
                span.userName-settings=user.name

              .listUserItems
                i.fa-solid.fa-phone
                span.userName-settings= '+55 11 97023-8121'

              .listUserItems
                i.fa-solid.fa-message
                span.userName-settings.userBiography=user.biography

              .listUserItems
                .notch-userConfig

              .listUserItems.backgroundImg
                i.fa-solid.fa-image
                span.userName-settings Chat Wallpaper

              .listUserItems.changePassword
                i.fa-solid.fa-key
                span.userName-settings Change password


            //- form to update users 
          .updateUserContainer
            .headerInfo
              button.settingsBtn.return
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Edit profile

            form.form.form-user-data
              .form__group
                img.form__user-photo(src=`/images/user/${user.photo}`, alt='User photo')
                input.form__upload.img(type= 'file', accept='image/*', id='photo', name='photo')
                label(for='photo') Choose new photo
              .form__group                
                label.form__label(for='name') Name
                input#name.form__input.username(type='text', value=`${user.name}`, required, name='name')
              .form__group
                label.form__label(for='email') Email address
                input#email.form__input.email(type='email', value=`${user.email}`, required, name='email')
              .form__group
                label.form__label(for='biography') Biography
                textarea#biography.form__input.biography(type='text', name='biography') #{user.biography}

              .form__group.right
                button.btn.save
                  i.fa-solid.fa-check

          //- form to update users background
          .updateUserContainer.chat

            .headerInfo
              button.settingsBtn.return
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Chat Wallpaper
            form.form.form-user-data
              .form__group
                img.form__user-photo.chat(src=`/images/user/chat-background/${user.wallpaper}`, alt='User wallpaper')
                input.form__upload.img(type= 'file', accept='image/*', id='wallpaper', name='wallpaper')
                label(for='wallpaper') Choose new Wallpaper

              .form__group.right
                button.btn.save
                  i.fa-solid.fa-check

          //- form to update users password
          .updateUserContainer.password
            .headerInfo
              button.settingsBtn.return
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Change password

            form.form.form-user-data
              .form__group
                label.form__label.password(for='password-current') Current password
                input#password-current.form__input.password(type='password', required , name='currentPassword')
              .form__group
                label.form__label(for='password') New password
                input#password.form__input.password(type='password', required ,name='password')
              .form__group
                label.form__label(for='password-confirm') Password confirm
                input#password-confirm.form__input.password(type='password', required ,name='passwordConfirm')

              .form__group.right
                button.btn.save
                  i.fa-solid.fa-check

        .searchForUsers

          input.searchInputUsers(type="text"  placeholder="Search")
          i.fa-solid.fa-magnifying-glass


      .rightHeader
        .userSelectedChat
          .userContainer
            .userInfo
              img.user-img.selected
              span.userNameSelected
              .statusBall

          .buttonSearch
            form.searchForm(action="")
              input.searchInput.hidden(type="text"  placeholder="Search messages...")
              button.searchTextInChatBtn(type="submit")
                i.fa-solid.fa-magnifying-glass