header.header
  if user
    .chatHeader
      .leftHeader

        .dropDownMenuList
          button.dropBtn(aria-label="Open menu")
            i.fa-solid.fa-bars

          .dropDownItems
            .menuItem.toggleBackground
              .menuItemName.toggleBackground Light Mode
              i.fa-regular.fa-sun
              i.fa-solid.fa-moon

            .menuItem.settings 
              .menuItemName Settings
              i.fa-solid.fa-gear

            .menuItem.contacts 
              .menuItemName Contacts
              i.fa-solid.fa-user


            .menuItem.logout 
              .menuItemName Logout
              i.fa-solid.fa-arrow-right-from-bracket




          .configurationsMenu


            .headerInfo-settings
              button.settingsBtn(aria-label="Close the menu")
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Settings
              button.settingsBtn.edit-user-info(aria-label="Open  menu")
                i.fa-regular.fa-pen-to-square

            .userInfo-settings
              img.user-img-settings(src=`/images/user/profile-pic/${user.photo}`, alt=`Photo of ${user.name}`)
              .listUserItems
                span.userName-settings=user.name

              .listUserItems
                i.fa-solid.fa-phone
                span.userName-settings.userPhoneNumber=user.phoneNumber

              .listUserItems
                i.fa-solid.fa-message
                span.userName-settings.userBiography=user.biography

              .listUserItems
                .notch-userConfig

              .listUserItems.backgroundImg
                i.fa-solid.fa-image
                span.userName-settings Chat Wallpaper

              .listUserItems.changePassword
                i.fa-solid.fa-key
                span.userName-settings Change password


            //- form to update users 
          .updateUserContainer
            .headerInfo
              button.settingsBtn.return(aria-label="Close the menu")
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Edit profile

            form.form.form-user-data
              .form__group
                img.form__user-photo(src=`/images/user/profile-pic/${user.photo}`, alt='User photo')
                input.form__upload.img(type= 'file', accept='image/*', id='photo', name='photo')
                label(for='photo') Choose new photo
              .form__group                
                label.form__label(for='name') Name
                input#name.form__input.username(type='text', value=`${user.name}`, required, name='name')
              .form__group
                label.form__label(for='email') Email address
                input#email.form__input.email(type='email', value=`${user.email}`, required, name='email')

              .form__group
                label.form__label(for='phoneNumber') Phone Number
                input#phoneNumber.form__input.phoneNumber(type='tel', value=`${user.phoneNumber}`, required, name='phoneNumber')
              .form__group
                label.form__label(for='biography') Biography
                textarea#biography.form__input.biography(type='text', name='biography') #{user.biography}

              .form__group.right
                button.btn.save(aria-label="Save")
                  i.fa-solid.fa-check

          //- form to update users background
          .updateUserContainer.chat

            .headerInfo
              button.settingsBtn.return(aria-label="Close the menu")
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Chat Wallpaper
            form.form.form-user-data
              .form__group
                img.form__user-photo.chat(src=user.wallpaper ? `/images/user/chat-background/${user.wallpaper}`:'/images/user/profile-pic/default.jpg', alt='User wallpaper')
                input.form__upload.img(type= 'file', accept='image/*', id='wallpaper', name='wallpaper')
                label(for='wallpaper') Choose new Wallpaper

              .form__group.right
                button.btn.save(aria-label="Save")
                  i.fa-solid.fa-check

          //- form to update users password
          .updateUserContainer.password
            .headerInfo
              button.settingsBtn.return(aria-label="Close the menu")
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Change password

            form.form.form-user-data
              .form__group
                label.form__label.password(for='password-current') Current password
                input#password-current.form__input.password(type='password', required, autocomplete='current password', name='currentPassword')
              .form__group
                label.form__label(for='password') New password
                input#password.form__input.password(type='password', required , autocomplete='Password' ,name='password')
              .form__group
                label.form__label(for='password-confirm') Password confirm
                input#password-confirm.form__input.password(type='password', required, autocomplete='Password-confirm' name='passwordConfirm')

              .form__group.right
                button.btn.save(aria-label="Save")
                  i.fa-solid.fa-check

          //- form to add the contacts
          .updateUserContainer.contacts
            .headerInfo
              button.settingsBtn.return(aria-label="Close the menu")
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Contacts

            form.form.form-user-data
              .form__group
                label.form__label(for='phoneNumberContact') Phone Number
                input#phoneNumberContact.form__input.phoneNumber(type='tel', required, name='phoneNumber')
              .form__group
                label.form__label(for='nickNameContact') Nickname
                input#nickNameContact.form__input.nickName(type='tel', required, name='nickName')
              .listUser
              .form__group.right
                button.btn.save(aria-label="Save")
                  i.fa-solid.fa-check



          .contactsContainer
            .headerInfo
              button.settingsBtn(aria-label="Close the menu")
                i.fa-solid.fa-arrow-left
              span.settingsNameHeader Contact
            .contactsContainerInfo
              .searchForUsers
                i.fa-solid.fa-magnifying-glass
              .listUser
                each contact in contacts
                  .users(data-user-room=contact.contactUser.id, data-online=contact.contactUser.online ? 'true' : 'false')
                    img.user-img(src=`/images/user/profile-pic/${contact.contactUser.photo || 'default.jpg'}`, alt=`Photo of ${contact.contactUser.name}`)
                    .ball(class=contact.contactUser.online ? 'online' : 'offline')
                    span.userName= contact.nickname
              button.circularButton.createContactBtn(aria-label="Save")
                i.fa-solid.fa-user-plus




        .searchForUsers

          input.searchInputUsers(type="text"  placeholder="Search")
          i.fa-solid.fa-magnifying-glass




      .rightHeader
        .userSelectedChat
          .userContainer
            .userInfo
              img.user-img.selected
              span.userNameSelected
              .statusBall

          .buttonSearch
            form.searchForm(action="")
              input.searchInput.hidden(type="text"  placeholder="Search messages...")
              button.searchTextInChatBtn(type="submit" aria-label="Search messages")
                i.fa-solid.fa-magnifying-glass