extends base

block append head
  link(rel="stylesheet", href="/styles/overview/styles.css")
  script(src="https://code.jquery.com/jquery-3.6.4.min.js")
  script.
    const socket = io();
    var userLoggedInId = "#{user.id}"; 

  script(defer, src="/js/index.js", type="module")

block content
  main.main
    .leftMenu
      .listUser
        - const loggedInUserID = user.id

        each user in users
          - if (loggedInUserID !== user.id )

            .users(data-user-room=user.id, data-online=user.online ? 'true' : 'false')
              img.user-img(src=`/images/user/profile-pic/${user.photo || 'default.jpg'}`, alt=`Photo of ${user.name}`)
              .ball(class=user.online ? 'online' : 'offline')
              span.userName= user.name 
              if user.messages &&  user.messages.length > 0
                - const lastMessage = user.messages.sort((a, b) => b.createdAt - a.createdAt)[0]
                span.userMessage= lastMessage.message
                - const formattedTime = lastMessage.createdAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })
                span.messageTime= formattedTime


    .messageFormContainer(style=(user.wallpaper ? `background-image: url('/images/user/chat-background/${user.wallpaper}')` : ''))
      .messagesContainer
        .messageList


      .form
        .notch
        form.form-input(action="")
          .inputBox
            input.inputMessage(placeholder="Message")
            button(type="submit")
              i.fa-regular.fa-paper-plane
