extends base

block append head
  link(rel="stylesheet", href="/styles/overview/styles.css")
  script(src="https://code.jquery.com/jquery-3.6.4.min.js")
  script.
    const socket = io();
    var userLoggedInId = "#{user.id}"; 

  script(defer, src="/js/index.js", type="module")

block content
  main.main
    .leftMenu

      .listUser
        each contact in contacts
          .users(data-user-room=contact.contactUser.id, data-online=contact.contactUser.online ? 'true' : 'false')
            img.user-img(src=`/images/user/profile-pic/${contact.contactUser.photo || 'default.jpg'}`, alt=`Photo of ${contact.contactUser.name}`)
            .ball(class=contact.contactUser.online ? 'online' : 'offline')
            span.userName= contact.nickname

            - const lastMessage = messages.find(message => message.userReceiver === contact.contactUser.name);
            if lastMessage
              span.userMessage= lastMessage.message
              span.messageTime= new Date(lastMessage.createdAt).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })

      .circle
        i.fa-regular.fa-pen-to-square
      .options
        .menuItems
          i.fa-solid.fa-user-group
          | New group

        .menuItems
          i.fa-solid.fa-user-plus
          | New message

    .createGroupContainer
      .headerInfo
        button.settingsBtn
          i.fa-solid.fa-arrow-left
        span.settingsNameHeader Add Members
      .createGroupContainerInfo
        .selectedUsersForGroup
        .listUser
          each contact in contacts
            .users(data-user-room=contact.contactUser.id, data-online=contact.contactUser.online ? 'true' : 'false')
              label.checkbox-container
                input.user-checkbox(type='checkbox', name='selectedUsers', value=contact.contactUser.id)
                span.checkmark
              img.user-img(src=`/images/user/profile-pic/${contact.contactUser.photo || 'default.jpg'}`, alt=`Photo of ${contact.contactUser.name}`)
              span.userName= contact.nickname
        button.circularButton.forwardGroup
          i.fa-solid.fa-arrow-right

    .updateUserContainer.groupInfo
      .headerInfo
        button.settingsBtn
          i.fa-solid.fa-arrow-left
        span.settingsNameHeader New Group
      form.form.form-user-data
        .form__group
          label.form__label.groupName(for='groupName') Group Name
          input#groupName.form__input.groupName(type='text', required, name='groupName')
        h3.chat-member-head 
        .chatMemberList
        .form__group.right
          button.btn.save(type="submit")
            i.fa-solid.fa-check

    .messageFormContainer(style=(user.wallpaper ? `background-image: url('/images/user/chat-background/${user.wallpaper}')` : ''))
      .messagesContainer
        .messageList

      .form
        .notch
        form.form-input(action="")
          .inputBox
            input.inputMessage(placeholder="Message")
            button(type="submit")
              i.fa-regular.fa-paper-plane

